@mixin wp-blocks-contain() {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: wp-blocks-spacing();
  padding-right: wp-blocks-spacing();

  @media (min-width: #{wp-blocks-breakpoint(lg)}) {
    max-width: wp-blocks-container(lg);
    padding-left: initial;
    padding-right: initial;
  }

  @media (min-width: #{wp-blocks-breakpoint("xl")}) {
    max-width: wp-blocks-container("xl");
    padding-left: initial;
    padding-right: initial;
  }
}

@each $name, $color in $theme-colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color::before {
    background-color: $color;
  }

  @for $i from 1 through 10 {
    .has-background-dim.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba($color, $i * 0.1);
    }
  }
}

@function wp-blocks-spacing() {
  @return map-get($wp-blocks-options, spacing);
}

@function wp-blocks-breakpoint($media-size) {
  @return map-get(map-get($wp-blocks-options, breakpoint), $media-size);
}

@function wp-blocks-container($media-size) {
  @return map-get(map-get($wp-blocks-options, container), $media-size);
}

@function wp-blocks-wide-align-width() {
  @return map-get(map-get(map-get($wp-blocks-options, blocks), wide-align), width);
}

@function wp-blocks-wide-align-max-width() {
  @return map-get(map-get(map-get($wp-blocks-options, blocks), wide-align), max-width);
}

@function wp-blocks-spacer() {
  @return map-get($wp-blocks-options, spacer);
}

@function wp-blocks-font-size($size) {
  @return map-get(map-get($wp-blocks-options, fontsize), $size);
}

@function wp-blocks-color($color) {
  @return map-get(map-get($wp-blocks-options, colors), $color);
}
