.entry-content > *:not(.wp-block-wrap) {
  @include wp-blocks-contain();
}

.wp-block-wrap {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
}

.wp-block-wrap > .alignfull {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wp-block-wrap > .alignwide {
  width: 100%;
  max-width: none;

  @media (min-width: #{$wp-blocks-container-md}) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: #{$wp-blocks-container-xl}) {
    max-width: 95%;
  }
}
