.wp-block-separator {
  display: inline-block;
  clear: both;
  margin-top: $wp-blocks-spacing;
  margin-bottom: $wp-blocks-spacing;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border-bottom: 1px solid wp-blocks-color("light");
  opacity: 0.6;
  max-width: 100%;

  &.is-style-wide {
    max-width: 80%;
    width: 80%;
  }

  &.is-style-dots {
    max-width: none;
    height: auto;
    line-height: 0;
    background: none; // Override any background themes often set on the hr tag for this style.
    border: none;
    text-align: center;
  }

  &.is-style-dots::before {
    content: "\00b7 \00b7 \00b7";
    color: wp-blocks-color("light");
    font-size: $font-size-base*2;
    letter-spacing: $wp-blocks-spacing;
    font-family: serif;
  }
}
